.button{
    width: fit-content;
    /* height: 50px; */
    color: #898C8E;
    background: transparent;
    border-radius: 18px;
    border: 1px solid #898C8E;
    box-sizing: content-box;
    padding: 8px 25px ;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.button:hover{
    padding: 8px 29px ;
}

@media screen and (max-width: 730px) {
    .button{
        margin: 0 auto;
    }
}