.profile__order{
    width: 100%;
    background-color: #fff;
    height: 500px;
    border-radius: 5px;
}

.profile__order-content{
    width: 100%;
    padding: 25px 45px;
}

.payment__order-head{
    display: flex;
    justify-content: flex-start;
}

.--head-text{
    margin-left: 15px;
}

.profile__order-search{
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}

.profile__order-form{
    display: flex;
    align-items: center;
}

.label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    text-transform: uppercase;
}

.label:not(:last-child){
    margin-right: 25px;
}

.--form__button{
    padding: 10px;
    background-color: #949494;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

