.news{
    margin-bottom: 200px;
}

.news__head{
    display: flex;
}

.news__content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.news__blocks{
    /* width: 100%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.News__description{
    width: 50%;
}

.news__button{
    width: 100px;
    color: #898C8E;
    background: transparent;
    border-radius: 18px;
    border: 1px solid #898C8E;
    box-sizing: content-box;
    padding: 8px 10px ;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}

.news__button:hover{
    width: 110px;
    font-size: 18px;
}
@media screen and (max-width: 740px) {
    
    .news{
        margin-bottom: 100px;
    }
}