.table__actions{
    width: 128px;
    position: absolute;
    z-index: 5;
    font-size: 14px;
    right: 40px;
}

.action__list{
    background-color: #fff;
    border-radius: 5px;
  
}

.--list__items{
    display: block;
    padding: 5px;
    margin: 0;
    text-align: start;
}