.about{
    margin-bottom: 200px;
}

.about__content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    
}

.about__content-image-container{
    min-width: 60%;
}

.about__content-image{
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
}



.about__text{
    color: #737374;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
}

@media screen and (max-width: 1200px) {
    .about__content{
        justify-content: center;

    }

}

@media screen and (max-width: 740px) {
    
    .about{
        margin-bottom: 100px;
    }
 
}