.profile__side{
    width: 18%;
    /* height: 100vh; */
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.profile__side-head{
    display: none;
}

.profile__side-content{
    text-align: center;
    margin: 150px 0;
}

.company__name{
    width:50%;
    margin: 20px auto;
    border-top: 1px solid #CACACB;
}

.-name-text{
    font-size: 1rem;
    color: #CACACB;
}

.profile__side-help{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
}
.help__text{
    text-transform: uppercase;
    font-size: 12px;
}

/* @media screen and (max-width: 1059px){
    .profile__side{
        left: -198px;
    }
} */