.admin__layout{
    background-color: #D4D9DA;
    height: 123vh;
}

.profile__content{
    width: 80%;
    position: relative;
    right: 0;
    left: 19%;
    margin-top: 16px;
}

@media screen and (max-width: 1059px){
    .profile__content{
        width: 98%;
        left: 1%;
    }
}