.section__headings{
    width: 92%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    overflow: hidden;

}

.section__heading-left{
    width: 96%;
    display: flex;
    cursor: pointer;
    margin: 0 auto;
    overflow: hidden;
}

.heading__items{
    font-size: 64px;
    width: 0%;
    transition: 0.5s;
    color: #737374;
    text-transform: uppercase;
}

.heading__items:not(:first-child){
    opacity: 0.1;
}

.heading__items-open{
    text-transform: uppercase;
    color: #737374;
    transition: 0.5s;
    font-size: 64px;
}

.heading__items-open:not(:last-child){
    width: 5%;
}

@media screen and (max-width: 768px) {
    .section__headings, .section__heading-left{
        justify-content: center;
        margin: 0 auto;
    }
    .heading__items-open{
        font-size: 40px;   
    }
}

@media screen and (max-width: 320px) {
    .section__headings, .section__heading-left{
        justify-content: center;
    }
    .heading__items-open{
        font-size: 35px;   
    }
}